---
layout: default
title: Understanding hemi-prosopometamorphopsia (hemi-PMO)
description: An overview of hemi-PMO covering symptoms, history, ongoing research, and more.
heading: Understanding hemi-prosopometamorphopsia (hemi-PMO)
author: Brad Duchaine
regular_nav: true
permalink: /
---
<div class="columns">
    <div class="column is-4">
        <aside class="menu">
            <h2 class="menu-label" id="S_TOC">Table of Contents</h2>
            <ul class="menu-list">
                <li><a href="#S_Definition">What is Prosopometamorphopsia(PMO)?</a></li>
                <li><a href="#S_Symptoms">Types of PMO and Symptoms</a></li>
                <li><a href="#S_Hemi">hemi-PMO</a></li>
                <li><a href="#S_Organization">Underlying neural basis</a></li>
                <li><a href="#S_MO">Other forms of metamorphopsia</a></li>
                <li><a href="#S_Participants">Research participants needed</a></li>
                <li><a href="#S_Participants">Contact</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-8">
        <article class="content">
            <h2 id="S_Definition" class="title is-4">What is Prosopometamorphopsia(PMO)?</h2>
            <p>
                Face processing depends on a complex network of brain regions, and dysfunction within this network can produce a wide variety of face processing impairments. When faces or parts of faces are perceived as distorted, the condition is known as <b>prosopometamorphopsia (PMO)</b>. “Prosopo” comes from the Greek word for face - prosopon while “metamorphopsia” refers to perceptual distortions. 
            </p>
            <p>
                Not surprisingly, people with PMO often find it disturbing to look at other people’s faces. Fortunately, most cases last only a few weeks or months. Around 30 case reports on people with PMO have been published, so the condition appears to be quite rare. 
            </p>
        </article>
        <article class="content">
            <h2 id="S_Symptoms" class="title is-4">Types of PMO and Symptoms</h2>
            <p>
                PMO comes in different forms. The condition causes features to appear distorted in a variety of ways -- they may droop, appear smaller or larger than normal, be out of position, or stretched. Below we describe that different types of PMO affect different regions of the face. We currently have little understanding about why people experience different types of PMO, but it is a question that we are interested in investigating.   
            </p>
            <p>
                In <b>PMO or full-face PMO</b>, features on both sides of the face are distorted (Dalrymple et al., 2014; other papers). For example, in a woman who we tested in our lab, she reported distortions to many face parts (Dalrymple et al., 2014). In addition, the distortions she saw grew larger over time. Here are examples from our article about her PMO.
            </p>        
            <figure class="image">
                <img src="{{ "/assets/images/research/narrative.png" | relative_url }}">
                <figcaption>
                    <span class="title is-6">Top caption:</span> Wow- large nose, prominent eyebrows. The eyebrows are coming towards me. And... strangely, his right eye is getting larger. Like, opening more...yeah, both brows are coming towards me and his- his right eye is getting larger, it's the most prominent thing and the nose is just really prominent, it's almost three dimensionally coming off the screen. 
                    <br><span class="title is-6">Bottom caption:</span>It's whole lower face and chin are... almost ballooning. And his left eye is dropping down... still dropping down. It's really weird it's like I can tell it's not moving because I can look at it and see that but still it, it's moving down his face. It's just... hmmmm... Do you get anything with ears? Ears don't really bother me. Ears aren't a thing. I guess, they're not part of a face.
                </figcaption>
            </figure>
        </article>
        <article class="content">
            <h2 id="S_Hemi" class="title is-4">hemi-PMO</h2>
            <p>
                In <b>hemi-prosopometamorphopsia (hemi-PMO)</b>, features on one side of the face are distorted while features on the side of the face look normal (Almeida et al., 2020). Patient A.D. who we reported on in Almeida et al. (2020) often saw features on the right side of the face as if they were melting, but he did not see distortions on the left side of faces or in any other objects or body parts. When faces were turned upside down, the distortions continued to affect the same features they affected in upright faces (see figure below illustrating how A.D. might have seen the same photo when it was upright and upside down), but this may not be true in other cases of hemi-PMO (Nagaishi et al., 2015). Considerably more cases of hemi-PMO have been reported in the neurological literature than full-face PMO, so hemi-PMO appears to be the more common type of PMO.    
            </p>
            <figure>
                <img src="{{ "/assets/images/research/hemi.png" | relative_url }}" height="150" width="200">
                <figcaption>
                    <span class="title is-6">Almeida et al., 2020</span> 
                </figcaption>
            </figure>
        </article>
        <article class="content">
            <h2 id="S_Organization" class="title is-4">Underlying neural basis</h2>
            <p>
                The brain regions we use to process faces are located primarily in our occipital and temporal lobes (back of the brain), and it is damage to these regions or the white-matter connections between these regions that causes PMO. Sometimes the damage appears to be restricted to gray matter. Interestingly though, the cause in the majority of hemi-PMO cases is damage to white matter connections that link regions in the two hemispheres. These connections make up part of the corpus callosum and, in particular, the splenium. Below is an image showing the small splenium lesion that caused the hemi-PMO that Patient A.D. experiences (Almeida et al., 2020). 
            </p>
            <figure>
                <img src="{{ "/assets/images/research/brain.png" | relative_url }}" alt="Face Areas" width="400">
            </figure>
        </article>
        <article class="content">
            <h2 id="S_MO" class="title is-4">Other forms of metamorphopsia</h2>
            <p>
                Perceptual distortions can affect any aspect of our visual experience. In PMO, faces are specifically affected, but distortions can also have specific effects on other visual categories (e.g., objects, bodies, etc.). If you’re experiencing distortions that affect a particular visual category, we’d be interested in hearing about the distortions you’re seeing.
            </p>
        </article>
        <article class="content">
            <h2 id="S_Participants" class="title is-4">Research participants needed</h2>
            <p>
                Little is known about the different types of PMO because few cases have been studied. <a href="https://lab.faceblind.org">Our lab</a> is very interested in studying people with PMO. We hope that our research can lead to a deeper understanding of PMO and how face processing works in typical brains. Research may help us identify interventions that reduce or eliminate face distortions in PMO. 
            </p>
            <p>
                If you are experiencing PMO or know someone who is, we would love to hear from you. Please see our contact information below.    
            </p>
        </article>
        <article class="content">
            <h2 id="#S_Contact" class="title is-4">Contact</h2>
            {% assign vip = site.dartmouth | where_exp: "member", "member.topoflist == true" | sort_natural: 'lastname' %}
            {% assign others = site.dartmouth | where_exp: "member", "member.topoflist != true" | sort_natural: 'lastname' %}
            {% assign lab_members = vip | concat: others %}

            {% for member in lab_members %}
            <div class="card" id="{{ member.lastname }}">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-narrow">
                            <figure class="image is-128x128">
                                {% capture profile_pic %}/assets/images/people/{{ member.image }}{% endcapture %}
                                <img class="is-rounded" src="{{ profile_pic | relative_url }}">
                            </figure>
                        </div>
                        <div class="column">
                            <p class="title is-4">
                                {{ member.firstname }} {{ member.lastname }}
                            </p>
                            <p class="subtitle is-6 is-italic">
                                {% for position in member.positions %}{{ position }}<br>{% endfor %}
                            </p>
                            <p class="content">
                                {{ member.content | markdownify }}
                            </p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    {% if member.email %}<a href="mailto:{{ member.email }}" class="card-footer-item">Email</a>{% endif %}
                    {% if member.website %}<a href="{{ member.website }}" class="card-footer-item">Website</a>{% endif %}
                </footer>
            </div>
            <br>
            {% endfor %}
        </article>
    </div>
</div>
