<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Website content is copyright &copy; 2020 Brad Duchaine. All Rights Reserved.
            <br>
            Website redesign (2018) by Sarah Herald. Updated (2020) by Yiyuan Zhang.
        </p>
        <p>
            
        </p>
        <p>
            <a href="{{ "privacypolicy/" | relative_url }}">Privacy Policy</a>
        </p>
        <a title="Bulma Homepage" href="https://bulma.io">
            <img src="{{ "/assets/images/made-with-bulma.png" | relative_url }}" alt="Made with Bulma" width="128" height="24">
        </a>
    </div>
</footer>
