<header>
    {% if page.regular_nav %}
        <nav class="navbar is-primary is-spaced" role="navigation" aria-label="main navigation">
    {% else %}
        <nav class="navbar is-primary is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
    {% endif %}
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ "/" | relative_url }}">
                    <!--<img src="{{ "/assets/images/faceblind_logo_small_transparent.png" | relative_url }}" alt="faceblind logo">-->
                    <strong>&nbsp;&nbsp;FACEDISTORTION.ORG</strong>
                </a>
            </div>
        </div>
    </nav>
</header>
